@model IEnumerable<WebUI.Models.Entities.MediaFile>

@{
    ViewData["Title"] = "All Videos";
    var flashResult = TempData["FlasResult"];
    var flashMessage = TempData["FlashMessage"]?.ToString();
}

@if (!string.IsNullOrEmpty(flashMessage))
{
    <div class="alert @((bool)flashResult ? "alert-success" : "alert-danger")" role="alert">@flashMessage</div>
}

<h3 class="display-3">Videos List</h3>

<div>
    <p class="lead">Stream from the below uplodaed list in MPEG-DASH manner:</p>
    <hr />
    <p>
        <a asp-action="Upload" class="btn btn-light">Upload New</a>
    </p>
    <div class="table-responsive">
        <table class="table">
            <thead class="thead-light">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Id)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Type)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Size)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Type)
                        </td>
                        <td>
                            @(item.Size / 1048576) MB
                        </td>
                        <td>
                            <a asp-action="Display" asp-route-id="@item.Id">Play</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
